/*
Theme Name: WP Bootstrap
Theme URI: http://teamtreehouse.com/how-to-build-a-simple-responsive-wordpress-site-with-twitter-bootstrap
Description: A simple responsive theme built with Bootstrap
Author: Zac Gordon
Author URI: http://zacgordon.com/
Version: 1.0
Tags: responsive, white, bootstrap

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/

This is an example theme to go along with the Treehouse blog post on <a href="http://teamtreehouse.com/how-to-build-a-responsive-wordpress-site-with-twitter-bootstrap">How to Build a Simple Responsive WordPress Site Using Twitter Bootstrap</a>.
*/

@import url('bootstrap/css/bootstrap.min.css');
/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');*/
/*@import url('bootstrap/css/bootstrap-responsive.css');*/

@import url('bootstrap/css/ribbons.css');

body {
    padding: 20px 50px 50px 50px;
}

div.title h1{
    font-size: 50px;
    text-align: center;
    margin-top: 10px;

}


.navbar {
    color: black;
    font-size: 16px;
    margin-bottom: 0px !important;
}

button.nav-bar.collapse {
    padding-right: 5px;
}


ul.children {
    list-style: none;
}


div.title a:hover{
    text-decoration: none;
}
p.site-title{
    text-align: center;
    color: black;
    font-size: 50px;

}
